<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<string>Tutorial</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>Tutorial</string>
				<key>file</key>
				<string>Documentation/tutorial/index.html</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>section</key>
		<string>Packages</string>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>SQLSTUDIOADVANCEDAdvanced</string>
				<key>index</key>
				<string>Documentation/toc/SQLSTUDIOADVANCEDAdvanced.plist</string>
				<key>NSLocationWhenInUseUsageDescription</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
